input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
  }
  
  /* input group 1 */
  /* end input group 1 */
  .input-group {
    position: relative;
    margin-bottom: 32px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .input-icon {
    position: absolute;
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .input--style-2 {
    padding: 9px 0;
    color: #666;
    font-size: 16px;
    font-weight: 500;
  }
  
  .input--style-2::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #808080;
  }
  
  .input--style-2:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #808080;
    opacity: 1;
  }
  
  .input--style-2::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #808080;
    opacity: 1;
  }
  
  .input--style-2:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #808080;
  }
  
  .input--style-2:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #808080;
  }

  .bg-blue {
    background: #2c6ed5;
  }
  
  .bg-red {
    background-image: url(../images/campo.png);
  }
  